
.editor-panes {
  margin: 0 0 2vh;
  height: 89vh;
}

.full-height, .pane, #pad, #markdown, .CodeMirror {
  height: 100%;
}

.pane {
  width: 100%;
  background-color: #0f1929;
  color: #e4e5e7;
  border-radius: 5px;
  border: 1px #52587a solid;
  padding: 5px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

#pad {
  width: 100%;
  background-color: inherit;
  color: inherit;
  resize: none;
  border: 0;
  outline: none;
}

#markdown {
  display: inline-block;
  width: 100%;
  padding: 0 1vw;
  font-family: Righteous;
  overflow: auto;
}

.CodeMirror {
  border: 0 !important;
}

.header {
  font-family: Righteous;
  font-variant-caps: small-caps;
  color: #e4e5e7;
  text-shadow: rgba(45, 57, 83, 0.6) -1px 1px 1px, rgba(122, 143, 184, 0.6) -2px 2px 0px;
}

#markdown pre,
#markdown pre code {
  border: 0;
  color: #8f96a3;
  background-color: #29303d !important;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3d4277;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d4277;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #000217;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #000217;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
